  <div class="row no-gutter">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading noprint">Judgment granted to either party or both with setoff.</div>
        <div class="panel-body"> Accordingly, judgment is awarded to the <label class="hide-me">{{selectedParty}}</label>
          <p-selectButton class="noprint"[options]="parties" [(ngModel)]="selectedParty"></p-selectButton>
          in the following amounts:
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row no-gutter">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">Principle: </div>
    <div class="col-sm-4">
      <input [(ngModel)]="principleAmt" OnlyNumber="true" class= "namebox noprint" style="width: 110px;"/>
      <label class="hide-me">{{principleAmt}}</label>
    </div>
    <div class="col-sm-4"></div>
  </div>
