  <div class="row no-gutter">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="panel panel-primary noborder">
        <div class="panel-heading noprint">Plaintiff(s) appeared and Defendant(s) FTA but served.</div>
        <div class="panel-body"> Plaintiff having appeared in court, and the court finding that notice of the plaintiff’s 
          claim and this hearing date was properly served on the defendant, and finding no good cause for the defendant’s failure to appear, 
          the court finds the defendant in default.  The court has reviewed the submission of the plaintiff and 
          considered plaintiff’s sworn testimony and finds there 
          <p-toggleButton class="noprint" 
                      onLabel="is" 
                      offLabel="is not" 
                      onIcon="fa-check-square"
                      offIcon="fa-square"
                      [(ngModel)]="isSufficient"
                      (onChange)="isText=isSufficient? 'is': 'is not'">
          </p-toggleButton><label class="hide-me">{{isText}}</label> sufficient.
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>


