  <div class="row no-gutter">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="panel panel-success">
        <div class="panel-heading noprint">Plaintiff appeared, Defendant not appearing and no service</div>
        <div class="panel-body"> Plaintiff having appeared in court, and the court finding notice of the plaintiff’s claim and this hearing date was not timely served on the defendant, 
          and the court finding
          <p-toggleButton class="noprint" 
                      onLabel="good cause" 
                      offLabel="no good cause" 
                      onIcon="fa-check-square"
                      offIcon="fa-square"
                      [(ngModel)]="isGoodCause"
                      (onChange)="onGoodCauseChange()">
          </p-toggleButton><label class="hide-me">{{gcText}}</label>
          <span *ngIf="isGoodCause"> 
           , the matter is continued until 
           <p-calendar class="noprint" [(ngModel)] = "serveDate"></p-calendar><label class="hide-me">{{serveDate | date: 'yyyy-MM-dd'}}</label> at 
           <p-calendar class="noprint" [(ngModel)] = "serveTime" [timeOnly]="true"></p-calendar><label class="hide-me">{{serveTime}}</label> to allow further time for service of process. Plaintiff
            shall be responsible for effecting service.
          </span>
          <span *ngIf="!isGoodCause">
            for continuance for service, this matter is dismissed
            <p-toggleButton class="noprint" onLabel="with" offLabel="without" onIcon="fa-check-square" offIcon="fa-square"
            [(ngModel)]="isWith" (onChange)="withText=isWith? 'with':'without'"></p-toggleButton>
            <label class="hide-me">{{withText}}</label> prejudice.
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

